<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Loop</title>
    <style>
        table th, table td {
            padding: 5px;
        }

        .row {
            font-style: italic;
        }

        .even-row {
            color: black;
        }

        .odd-row {
            color: blue;
        }
    </style>
</head>
<div>
    <table border="1">
        <h1>Cars</h1>
        <tr>
            <th>id</th>
            <th>model</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getId()}">id</td>
            <td th:text="${car.getModel()}">model</td>
</div>
</body>
</html>